test_dataset:
  dataset:
    name: image-folder
    args:
      root_path: ./load/dataset/shape/Gt_shape_bmp_test
  wrapper:
    name: sr-implicit-downsampled
    args:
      scale_min: 36
  batch_size: 1
eval_type: div2k-36
eval_bsize: 30000

data_norm:
  inp: {sub: [0.5], div: [0.5]}
  gt: {sub: [0.5], div: [0.5]}